body{
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content{
    margin-top: 50px;
    color: white;
}

.scramble{
    height: 100px;
}

#scramble{
    font-size: 1.25rem;
    text-shadow: 1px 4px 3px #000000;
}

#time{
    font-size: 5rem;
}

#cube{
    size: 0.2rem;
}

#clock{
    height: 400px;
    background-image: url("circle.png");
    background-repeat: no-repeat;
    background-position: center;
}
